<LayoutContainer @title="My Ember App" as |layout|>
  <layout.sidenav>
    <div data-test-sidenav-content>
      This is the sidebar!
    </div>
  </layout.sidenav>
  <layout.body as |body|>
    <body.toolbar @showSideNavToggle={{this.session.isAuthenticated}}>
      <div data-test-toolbar-content>
        This is the toolbar!
      </div>
    </body.toolbar>
    <body.content>
      <div data-test-outlet>
        {{outlet}}
      </div>
    </body.content>
  </layout.body>
</LayoutContainer>
